.sticky {
  display: block;
}

.post,
.page,
.single {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  zoom: 1;
  padding: 0 40px;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

// temp test
.flex-row {
  zoom: 1;
  position: relative;
  margin-bottom: 40px;
}

.flex-row:before,
.flex-row:after {
  content: "";
  display: table;
}

.flex-row:after {
  clear: both;
}

.flex-row:last-child {
  margin-bottom: 0;
}

/*
* FLEXIBLE CONTENT COLUMNS
*/
.flex-column {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .flex-4-col .flex-column {
    width: 22.2222222222%;
    float: left;
  }

  .flex-4-col .flex-column:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .flex-4-col .flex-column:nth-child(4n + 2) {
    margin-left: 25.9259259259%;
    margin-right: -100%;
    clear: none;
  }

  .flex-4-col .flex-column:nth-child(4n + 3) {
    margin-left: 51.8518518519%;
    margin-right: -100%;
    clear: none;
  }

  .flex-4-col .flex-column:nth-child(4n + 4) {
    margin-left: 77.7777777778%;
    margin-right: -100%;
    clear: none;
  }
}

.no-mediaqueries .flex-4-col .flex-column {
  width: 22.2222222222%;
  float: left;
}

.no-mediaqueries .flex-4-col .flex-column:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.no-mediaqueries .flex-4-col .flex-column:nth-child(4n + 2) {
  margin-left: 25.9259259259%;
  margin-right: -100%;
  clear: none;
}

.no-mediaqueries .flex-4-col .flex-column:nth-child(4n + 3) {
  margin-left: 51.8518518519%;
  margin-right: -100%;
  clear: none;
}

.no-mediaqueries .flex-4-col .flex-column:nth-child(4n + 4) {
  margin-left: 77.7777777778%;
  margin-right: -100%;
  clear: none;
}

@media (max-width: 767px) {

  .flex-4-col .flex-column.col-1,
  .flex-4-col .flex-column.col-3 {
    width: 48.1481481481%;
    float: left;
    margin-right: 3.7037037037%;
    margin-bottom: 20px;
  }

  .flex-4-col .flex-column.col-2,
  .flex-4-col .flex-column.col-4 {
    width: 48.1481481481%;
    float: right;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {

  .flex-4-col .flex-column.col-1,
  .flex-4-col .flex-column.col-2,
  .flex-4-col .flex-column.col-3,
  .flex-4-col .flex-column.col-4 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .flex-3-col .flex-column {
    width: 30.8641975309%;
    float: left;
  }

  .flex-3-col .flex-column:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .flex-3-col .flex-column:nth-child(3n + 2) {
    margin-left: 34.5679012346%;
    margin-right: -100%;
    clear: none;
  }

  .flex-3-col .flex-column:nth-child(3n + 3) {
    margin-left: 69.1358024691%;
    margin-right: -100%;
    clear: none;
  }
}

.no-mediaqueries .flex-3-col .flex-column {
  width: 30.8641975309%;
  float: left;
}

.no-mediaqueries .flex-3-col .flex-column:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.no-mediaqueries .flex-3-col .flex-column:nth-child(3n + 2) {
  margin-left: 34.5679012346%;
  margin-right: -100%;
  clear: none;
}

.no-mediaqueries .flex-3-col .flex-column:nth-child(3n + 3) {
  margin-left: 69.1358024691%;
  margin-right: -100%;
  clear: none;
}

@media (max-width: 767px) {
  .flex-3-col .flex-column.col-1 {
    width: 48.1481481481%;
    float: left;
    margin-right: 3.7037037037%;
    margin-bottom: 20px;
  }

  .flex-3-col .flex-column.col-2 {
    width: 48.1481481481%;
    float: right;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .flex-3-col .flex-column.col-3 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 480px) {

  .flex-3-col .flex-column.col-1,
  .flex-3-col .flex-column.col-2,
  .flex-3-col .flex-column.col-3 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

.flex-2-col .flex-column {
  margin-bottom: 20px;
}

@media (min-width: 481px) {
  .flex-2-col .flex-column {
    width: 48.1481481481%;
    float: left;
    margin-bottom: none;
  }

  .flex-2-col .flex-column:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }

  .flex-2-col .flex-column:nth-child(2n + 2) {
    margin-left: 51.8518518519%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 768px) {
  .flex-1-to-3-col .flex-column.col-1 {
    width: 48.1481481481%;
    float: left;
    margin-right: 3.7037037037%;
  }
}

.no-mediaqueries .flex-1-to-3-col .flex-column.col-1 {
  width: 48.1481481481%;
  float: left;
  margin-right: 3.7037037037%;
}

@media (min-width: 1030px) {
  .flex-1-to-3-col .flex-column.col-1 {
    width: 22.2222222222%;
    float: left;
    margin-right: 3.7037037037%;
  }
}

@media (min-width: 768px) {
  .flex-1-to-3-col .flex-column.col-2 {
    width: 48.1481481481%;
    float: right;
    margin-right: 0;
  }
}

.no-mediaqueries .flex-1-to-3-col .flex-column.col-2 {
  width: 48.1481481481%;
  float: right;
  margin-right: 0;
}

@media (min-width: 1030px) {
  .flex-1-to-3-col .flex-column.col-2 {
    width: 74.0740740741%;
    float: right;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .flex-3-to-1-col .flex-column.col-1 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .flex-3-to-1-col .flex-column.col-1 {
    width: 48.1481481481%;
    float: left;
    margin-right: 3.7037037037%;
  }
}

.no-mediaqueries .flex-3-to-1-col .flex-column.col-1 {
  width: 48.1481481481%;
  float: left;
  margin-right: 3.7037037037%;
}

@media (min-width: 1030px) {
  .flex-3-to-1-col .flex-column.col-1 {
    width: 74.0740740741%;
    float: left;
    margin-right: 3.7037037037%;
  }
}

@media (min-width: 768px) {
  .flex-3-to-1-col .flex-column.col-2 {
    width: 48.1481481481%;
    float: right;
    margin-right: 0;
  }
}

.no-mediaqueries .flex-3-to-1-col .flex-column.col-2 {
  width: 48.1481481481%;
  float: right;
  margin-right: 0;
}

@media (min-width: 1030px) {
  .flex-3-to-1-col .flex-column.col-2 {
    width: 22.2222222222%;
    float: right;
    margin-right: 0;
  }
}