.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

.attachment {
  p.attachment {
    display: block;
    text-align: center;
  }
}

.type-attachment {
  max-width: 1236px;
  padding: 0 1rem;
  margin: 0 auto;
}