.site-footer {
    background-color: $color__super-black;
    color: $color__background-body;

    a {
        color: $color__alt-dark;
    }
}

.last-modified {
    margin: 15px 0 20px 0;
    text-align: center;
}