.site-footer {
    background-color: $color__darkest;
    color: $color__background-body;
    width: 100%;
    padding: 3rem 0;

    a {
        color: $color__background-body;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .info-footer {
        max-width: 1200px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
    }
}

.last-modified {
    // margin-top: 20px;
    text-align: center;
    grid-column: 1/ span 3;
}

.jetpack_subscription_widget {
    grid-column: 1 / span 3;
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 100%;

    #subscribe-text {
        margin: 15px 0 10px;
    }

    .widgettitle {
        display: none;
    }
}

#subscribe-email input {
    width: 60%;
}

#subscribe-submit {
    margin-top: 10px;
}