body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: $font__size-base;
  line-height: $font__line-height-body;
}

.site-title {
  font-family: $font__title;
  margin: 0;

  a {
    text-decoration: none;
    color: $color__norm-white !important;
  }
}

.home-quote {
  display: grid;
  justify-content: center;
  margin: 1.75em 0;
  font-size: larger;
}

@import "headings";
@import "copy";