body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: $font__size-base;
  line-height: $font__line-height-body;
}

.site-title {
  font-family: $font__title;
  margin: 0;

  a {
    text-decoration: none;
    color: $color__norm-white !important;
  }
}

h1.site-title {
  font-size: 3rem;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}

.home-quote {
  display: grid;
  justify-content: center;
  font-size: x-large;
  p {
    text-align: center;
    padding: 40px;
  }
}

@import "headings";
@import "copy";