.site-branding {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  .search-form {
    margin-top: 10px;
    text-align: right;

    input {
      vertical-align: middle;
    }
  }
}

.site-description {
  font-family: $font__main;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 5px;
}

.site-header {
  display: grid;
  grid-template-columns: 430px 294px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 45px;
  color: $color__norm-white;
}

header.entry-header {
  .entry-title {
    margin-bottom: 0;
  }
}