.site-branding {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  .search-form {
    margin-top: 10px;
    text-align: right;
    input {
      vertical-align: middle;
    }
  }
}

.site-description {
  margin: 0;
  display: grid;
  align-items: end;
  color: $color__norm-white;
}

.site-header {
  display: grid;
  grid-template-columns: 1fr;
  @include center-block;
  max-width: 1200px;
}