// .main-navigation {
//   margin: .5em 0 0 0;
//   max-width: 1200px;
//   width: 100vw;
//   @include center-block;
// }

.alternative-navigation {
  gap: 0 !important;

  ul {
    gap: 0;

    li {
      a {
        background-color: red;
        padding: 15px 140px;
      }
    }
  }
}

.menu-top-nav-container {
  a {
    color: $color__norm-white;
  }
}

.main-navigation,
.footer-navigation,
.alternative-navigation {
  display: grid;
  width: 100%;
  gap: 20px;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {

        &:hover>ul,
        &.focus>ul {
          display: block;
          left: auto;
        }
      }

      a {
        width: 200px;
      }

    //   :hover>a,
    //   .focus>a {}

    //   a:hover,
    //   a.focus {}
    }

    li:hover>ul,
    li.focus>ul {
      left: auto;
    }
  }

  li {
    position: relative;

//     &:hover>a,
//     &.focus>a {}
  }

  a {
    display: block;
    font-family: $font__title;
    text-decoration: none;
    text-transform: uppercase;
  }

//   .current_page_item>a,
//   .current-menu-item>a,
//   .current_page_ancestor>a,
//   .current-menu-ancestor>a {}
}

.alternative-navigation ul,
.footer-navigation ul {
  justify-content: center;
}

.menu-footer-container {
  padding: 2em 1em 0 1em;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {

  .menu-toggle {
    display: none;
  }

  .main-navigation ul,
  .footer-navigation ul,
  .alternative-navigation ul {
    display: flex;
    gap: 1.25em;
  }
}

.alternative-navigation ul {
  gap: 0;

  li {
    a {
      color: $color__norm-white;
    }
  }

  li:first-of-type {
    a {
      background-color: $color__gray-dark;
    }
  }

  li:nth-of-type(2) {
    a {
      background-color: $color__gray-med;
    }
  }

  li:last-of-type {
    a {
      background-color: $color__gray-lite;
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

.sub-menu {
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: $color__darkest;
    padding-top: 2rem;
    
    a {
        padding: 0 .8rem 1.5rem;
        border-bottom: 1px solid darken($color__darkest, 8%);
        &:hover {
            color: $color__alt-dark;
        }
    }
}