a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
.donate {
    margin-top: 1.75rem;
    a {
        padding: .5rem .8rem;
        background-color: $color__dark;
        border-radius: 5px;
        text-decoration: none;
    }
    span {
        margin-right: .25rem;
    }
}
