$color__background-body: #f2f4f3;
$color__background-screen: #f8f4e3;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #2274A5;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #A20021;
$color__link-visited: #A20021;
$color__link-hover: #2274a5;
$color__text-main: #2b2e23;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__alt-dark: #f5b700;
