$size__site-main: 100%;
$size__site-sidebar: 25%;



body .site-main {
    //   max-width: 1200px;
    //   margin-right: auto;
    //   margin-left: auto;
    grid-area: main;
    //   overflow: hidden;
    margin-bottom: 2em;
    /* Resolves issue with <pre> elements forcing full width. */
}



body.toggled-fixed {
    position: fixed !important;

    .menu-toggle {
        display: none;
    }

    .menu-close {
        display: block;
    }
}