@import url(https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento+Sans&family=Quattrocento:wght@400;700&display=swap);
// stylelint-disable value-keyword-case
$font__main: Quattrocento, serif;
// stylelint-enable value-keyword-case
$font__title: Oswald, sans-serif;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__size-base: 18px;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
