@import url(https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Quattrocento+Sans&family=Oswald&display=swap);

// stylelint-disable value-keyword-case
$font__main: "EB Garamond", serif;
// stylelint-enable value-keyword-case
$font__title: "Oswald", sans-serif;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__size-base: 13.5pt;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
