.banner {
  text-align: center;
  padding: .35em;
  background-color: $color__background-screen;
  color: $color__text-main;
	font-family: "Oswald", sans-serif;
	margin: 0;
  font-size: 1em;

  strong {
    margin-left: .45em;
  }
}